body{
    background-color: #F5F5F5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

input {
    width: 70%;
    height: 22px;
    padding: 0.6rem;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 0;
    margin: 10px;
}

input:focus {
    outline: none;
    box-shadow: 0 0 10px #1F0C22;
}

button{
    padding:10px;
    border-radius: 5px;
    color: #fff;
    background-color: #1D0C20;
    width: 50%;
    border: none;
    cursor: pointer;
}

.container {
    background-image: linear-gradient(to bottom, #1F0C22, #641F70);
    margin: auto;
    margin-top: 50px;
    width: 650px;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
}

.corpo {
    background-image: linear-gradient(to bottom, #641F70, #1F0C22);
    box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.title {
    color: #FECD23;
    padding: 10px;
    margin-bottom: 30px;
    font-size: 25px;
}

.conteudo {
    padding: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subTitle {
    font-size: 25px;
    padding: 10px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    margin-bottom: 10px;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, #3D5DEE, #73CDFF);
    border-radius: 10px;
    border: 10px solid #2738DB;
    padding: 10px;
    margin-top: 10px;
}

@media screen and (max-width: 620px) {
    
    .flex-container {
        display: flex;
        flex-direction: column; 
    } 
    
    .container {
        width: 90%;
    }
}